NEXT_PUBLIC_SUPABASE_URL=

NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

NEXT_PUBLIC_SITE_URL=

SHOPIFY_CLIENT_ID=

SHOPIFY_CLIENT_SECRET=

SHOPIFY_APP_URL=

SHOPIFY_SCOPES=

SHOPIFY_API_VERSION=

SHOPIFY_TOKEN_ENCRYPTION_KEY=
